playwright~=1.62.0
numpy~=2.5.2
wikipedia~=1.4.0
python-dotenv~=1.2.2
openai~=3.0.0
protobuf~=7.35.1
google-auth-oauthlib~=1.4.0
google-api-python-client~=2.198.0
ddgs~=9.14.4
requests~=2.34.2
pyjokes~=0.8.3
soundfile~=0.14.0
torch~=2.9.1+cu126
torchaudio~=2.9.1+cu126
psutil~=7.2.2
faster-whisper~=1.2.1
sounddevice~=0.5.5
webrtcvad-wheels~=2.0.14
pyflakes~=3.4.0
